@model Sneaker

<br /><br />
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Sneaker Type</h2>
            <br />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="TypeOfSneaker"></label>:
            <input asp-for="TypeOfSneaker" class="form-control" />
            <span asp-validation-for="TypeOfSneaker" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Sneaker" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}